input
, textarea
, label {
		display : block;
		width : 300px
		}
label 	{
		text-transform : uppercase;
		padding-top : 0.5em;
		}
.counter {
			font-size : 0.7em;
			text-transform : uppercase;
			padding-bottom : 0.5em;
		}
#message {
		  background : whitesmoke;
		  padding : 4px;
		  height : 20px;
		}